.ChangeClass__Container {
  width: 50vw;
  height: 70vh;
  background: white;
  z-index: 999;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.ChangeClass__Header_Container {
  width: 100%;
  height: 130px;
  background: #719192;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ChangeClass__Header_Text {
  color: white;
  text-align: center;
}

.ChangeClass__Content {
  flex: 1;
  overflow: scroll;
}

.ChangeClass_Actions {
  height: 60px;
  display: flex;
}

.ChangeClassActions {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: -1px;
}

.ChangeClassActions:hover {
  filter: brightness(130%);
}

.ChangeClassActions__Text {
  font-size: 18px;
  color: white;
  margin-right: 5px;
  font-weight: 400;
}

.ChangeClassActions__Image {
    width: 30px;
    height: 30px;
}

.ChangeClassActions__Image_Tick {
  width: 45px;
  height: 45px;
}

.ChangeClassItem {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left:  15px;
  margin-right: 15px;
  justify-content: space-around;
  background: #E3EAEB;
  padding: 15px;
  border-radius: 4px;
  font-weight: 450;
}

.ChangeClassItemSelected {
  background: #B5B8B9;
  color: 'white';
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ChangeClassItem__TextSelected {
  color: white;
}

.ChangeClassItem:hover {
  filter: brightness(105%);
}

.ChangeClassItem__Text {
  min-width: 30px;
  text-align: center;
  font-size: 16px;
}