@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
.Collapsible {
    background-color: dimgrey;
    width: 95%;
}


.Collapsible__contentInner {
    background-color: whitesmoke;
    padding: 10px;
    border-top: 0;
}

.Collapsible__trigger {
    display: block;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    padding: 10px;
    background: dimgrey;
    color: white;

}
.Collapsible__trigger:after {
    font-family: 'Font Awesome 5 Free';
    content: "\f106";
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg);
}
.Collapsible__trigger.is-disabled {
    opacity: 0.5;
    background-color: grey;
}



is-disabled {
    opacity: 0.5;
    background-color: grey;
}
