.Sidebar__Items {
  width: 250px;
  margin: 10px;
  background: #719192;
  height: 100%;
  color: white;
}

.Sidebar__Background {
  background: #719192;
}

.Sidebar__Divider {
  width: 100%;
  height: 1px;
  background: #7D9B9C;
  margin-bottom: 10px;
  margin-top: 10px;
}

.Sidebar__Title {
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  padding-bottom: 40px;
  margin-top: 30px;
}

.Sidebar__Title_Meta {
  font-size: 14px;
  top: -6px;
  right: 50px;
  position: absolute;
}

.Sidebar__Item {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.Sidebar_Item_Icon {
  color: #9BB1B2;
}

.Sidebar_Item_Icon_Meta {
  font-size: 30px;
  font-weight: bolder;
  top: 0;
  right: 0;
  bottom: 0;
  color: #B7C7C7;
  margin-right: 10px;
}

.Sidebar_Meta_Container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Sidebar_Meta_Container:hover {
  filter: brightness(150%);
}

.Sidebar__Item_Title {
  margin-left: 10px;
  color: #D5DFDF;
}

.Sidebar__Category_Title {
  font-size: 12px;
  margin-bottom: 7px;
  font-weight: bolder;
  color: #A9BCBD;
}

.Sidebar__Category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-left: 10px;
}