.Page {
    background-color: #E3EAEB;
    width: 100%;
    height: 100%;
}
.Center {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(173,161,173,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(173,161,173,1);
    box-shadow: 0px 0px 3px 1px rgba(173,161,173,1);
    width: 50%;
    height: 60%;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 4px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    overflow: hidden;
}

.leftDiv{
    color: white;
    font-size: 1.2vw;
    text-align: left;
    padding: 15px;
    background-color: #719192;
    width:50%;
    height: 100%;
    margin : 0;
    float : left ;
    border-color: #719192;
}
.rightDiv {
    color: black;
    font-size: 1.1vw;
    text-align: left;
    padding: 20px;
    background-color: white;
    width:50%;
    height: 100%;
    margin : 0;
    float : left;

}

.Register_Text {
    color: black;
}
.center-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.col{
    text-align: left;
}