.flexbox {
  background-image: url("MistyCity.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;  
}

.logo {
  height: 80vmin;
}

.flexbox > div {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.login-div {
  align-items: left;
  font-size: 2.5vw;
  font-weight: 500;
  color: #404040;
}

.login-div > * {
  width: 100%;
}

.input-login {
  width: 75%;
  height: 5vh;
  margin: 10px;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 1.4vw;
  padding-left: 1em;
  box-shadow: 2px 2px 5px grey;
}

.input-submit {
  width: 30%;
  height: 5vh;
  margin: 10px;
  border-radius: 25px;
  font-size: 1.5vw;
  background-color: lightslategray;
}

.download-div {
  font-family: 'Times New Roman';
  font-size: 3vw;
  font-weight: 500;
  color: black;
}

.badge {
  height: 60px;
  width: auto;
}
