.Schedule__Container {
  width: 70vw;
  height: 1400px;
  display: flex;
  margin-bottom: 50px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.09);
}

.Schedule__Header_Cell {
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Schedule__Meta_Title {
  margin-bottom: 15px;
  text-align: start;
  font-weight: 600;
  font-size: 16px;
}

.Schedule__Cell {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px;
}

.Schedule__Cell:hover {
  filter: brightness(110%);
}

.Schedule_Cell_Title {
  font-weight: bolder;
  align-self: center;
}

.Schedule__Cell_Empty {
}

.Schedule__Cell_Simple {
  background: #719192;
}

.Schedule__Cell_Exchangeable {
  background: #44a81f;
}

.Schedule__Cell_Not_Exchangeable {
  background: #d0172d;
}

.Schedule__Cell_With_Approval {
  background: #c6d32c;
}


.Schedule__Column { 
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-direction: column;
}

.Schedule__Column_Meta {
  display: flex;
  width: 120px;
  flex-direction: column;
  justify-content: space-around;
}